  <div class="header">
    <h1>About Bike Berlin</h1>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-offset-2 col-lg-8 col-lg-offset-4 col-md-6">
        <h1> Bike Berlin opened in November 2016.</h1>
        <p>We will beat any competitors price! We provide the best bikes at the lowest prices on the Internet!</p>
      </div>
    </div>
  </div>
  <div class="container">
    <h2> Hours Of Operation</h2>
    <table>
      <tr>
        <td>Monday: 10am - 9pm</td>
        <td>Tuesday: 10am - 9pm</td>
        <td>Wednesday: 10am - 9pm</td>
        <td>Thursday: 10am - 9pm</td>
        <td>Friday: 10am - 9pm</td>
        <td>Saturday: 10am - 9pm</td>
        </tr>
    </table>
  </div>

 