<div class="container">
  <div class="row">
    <div class "col-xs-6 col-md-4">
      <h1>Dear Loyal Cusotmer,</h1>
      <p> Thanks for shopping with <%= @appname %>. Happy Riding!</p>
    </div>
  </div>
</div>

