<p id="notice"><%= notice %></p>

<div class="header">
<h1>Products</h1>
</div>

<div class="container-fluid">
  <div class="row">
  <% cache(cache_key_for_products) do %>
    <%= render @products %>
  <% end %>
  </div>
</div>

<p><%= link_to 'Add Product', new_product_path %></p>

<br>





<!-- <body>

  <div class= "container-fluid">
    <div class="row" style="background-color:beige;">
      <div class="col-sm-2 col-md-4">
        <h1>Box</h1>
        <p>Really Neat Blue Box</p>
        <strong>$ 42</strong>
        <img src="img/bluebox.jpg" class="img-responsive">
      </div>

      <div class="col-sm-2 col-md-4">
        <h1>Book</h1>
        <p>Book of Essays</p>
        <strong>$ 42</strong>
        <img src="img/book.jpg" class="img-responsive">
      </div>

      <div class="col-sm-2 col-md-4">
        <h1>Pencils</h1>
        <p>Colored Drawing Pencils</p>
        <strong>$ 42</strong>
        <img src="img/pencils.jpg" class="img-responsive">
      </div>
    </div>
  </div>
</body>
 -->
  





